<div class="logo">
  <div class="writing">
    <p>Assurance CTAMA</p>
    <p>Depuis 1912</p>
  </div>
  <img src="./../../assets/logo.png" alt="">
</div>
<div class="login">
  <form [formGroup]="loginForm" (ngSubmit)="login()" class="paper">
    <img src="./../../assets/logo.png" alt="">
    <h1>Accéder à votre compte <span>CTAMA</span></h1>

    <p>Email</p>
    <input type="email" formControlName="email" />
    <p>Mot de passe</p>
    <input type="password" formControlName="password" />
    <button type="submit" class="btn">Se connecter</button>

  </form>



</div>