<mat-drawer-container autosize>

    <mat-drawer #drawer *ngIf="isLoggedIn$ | async" mode="side" opened>

        <nav>
            <img src="./../../assets/logo.png" alt="">
            <mat-divider></mat-divider>

            <div class="navigation">
                <ul>
                    <li routerLink="/admin" *ngIf="user.role=='admin'">
                        Gestion Utilisateurs
                    </li>
                </ul>
            </div>
        </nav>
    </mat-drawer>

    <mat-drawer-content>
        <mat-toolbar *ngIf="isLoggedIn$ | async" color="primary">
            <span>Connecté en tant que {{user.firstname}} {{user.lastname}}</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon>account_circle</mat-icon>
            </button>
            <button (click)="quit()" mat-icon-button class="example-icon"
                aria-label="Example icon-button with share icon">
                <mat-icon>exit_to_app</mat-icon>
            </button>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-drawer-content>

</mat-drawer-container>