.table-container {
    padding: 1.2em;
    table,
    mat-form-field {
        width: 100%;
    }
    mat-form-field {
        font-size: 12px;
        margin-top: 1em;
    }
}
mat-icon{
    cursor: pointer;
    margin: 0 .2em;
    &:first-child:hover{
        color: #FF9933;
    }
    &:nth-child(2):hover{
        color: red;
    }

}